@charset "UTF-8";

*****************************************************************************************/
/****************************************************************************************
*****************************************************************************************/
/* 

1fe: font-size px => em;
1he: line-height px => em;
1media: media css;
1lr: Lorem Ipsum;
1se: resize windown js;
1re: ready js;
1mo: funtion module js;
1af: after css; 
*/
@font-face {
  font-family: 'Frutiger Roman';
  src: url("../fonts/FrutigerLTW01-55Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerLTW01-55Roman.woff") format("woff"), url("../fonts/FrutigerLTW01-55Roman.ttf") format("truetype"), url("../fonts/FrutigerLTW01-55Roman.svg#FrutigerLTW01-55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerCE-Light';
  src: url("../fonts/FrutigerCE-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerCE-Light.woff") format("woff"), url("../fonts/FrutigerCE-Light.ttf") format("truetype"), url("../fonts/FrutigerCE-Light.svg#FrutigerCE-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerCE-Black';
  src: url("../fonts/FrutigerCE-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerCE-Black.woff") format("woff"), url("../fonts/FrutigerCE-Black.ttf") format("truetype"), url("../fonts/FrutigerCE-Black.svg#FrutigerCE-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eagle-Bold';
  src: url("../fonts/Eagle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Eagle-Bold.otf") format("opentype"), url("../fonts/Eagle-Bold.woff") format("woff"), url("../fonts/Eagle-Bold.ttf") format("truetype"), url("../fonts/Eagle-Bold.svg#Eagle-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/****************************************************************************************
Description: Base
*****************************************************************************************/
/* line 4, ../../app/assets/styles/base/_base.scss */
*:focus, button:focus, input:focus, *, input, button, *:active, input:active, button:active, .bootstrap-select .btn:focus, option {
  outline: none !important;
  outline: 0px !important;
}

/* line 8, ../../app/assets/styles/base/_base.scss */
sup {
  top: -0.5em;
  font-size: 85%;
}

/* line 12, ../../app/assets/styles/base/_base.scss */
table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #373732;
}
/* line 16, ../../app/assets/styles/base/_base.scss */
table tr {
  border: 1px solid #373732;
}
/* line 18, ../../app/assets/styles/base/_base.scss */
table tr td, table tr th {
  border: 1px solid #373732;
  padding: 5px;
  text-align: inherit;
}
/* line 22, ../../app/assets/styles/base/_base.scss */
table tr td p, table tr td ul li, table tr td ol li, table tr th p, table tr th ul li, table tr th ol li {
  width: auto;
  padding: 0px !important;
  margin: 0px;
  width: 100%;
}
/* line 32, ../../app/assets/styles/base/_base.scss */
table tr td h3, table tr td h4, table tr td h2, table tr td p {
  padding: 0px;
}

/* line 37, ../../app/assets/styles/base/_base.scss */
body {
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  font-family: "FrutigerCE-Light";
  color: #7b7979;
  background: #edeff4 url("../images/dot-background.png") repeat left top;
}

/* line 44, ../../app/assets/styles/base/_base.scss */
html {
  overflow-x: hidden;
}

/* line 47, ../../app/assets/styles/base/_base.scss */
p {
  padding: 10px 0px;
  margin-bottom: 0px;
}

/* line 51, ../../app/assets/styles/base/_base.scss */
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
/* line 55, ../../app/assets/styles/base/_base.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #20929c;
}

/* line 60, ../../app/assets/styles/base/_base.scss */
h1, h2, h3, h4, h5 {
  padding: 10px 0;
  margin-bottom: 0;
  margin-top: 0;
}

.text-content h1 {
	font-size: 8.5em;
	}
h2 {
	font-size: 5em;
	}

/* line 65, ../../app/assets/styles/base/_base.scss */
img {
  max-width: 100%;
}

/****************************************************************************************
Description: Base/Form
*****************************************************************************************/
/* line 4, ../../app/assets/styles/base/_form.scss */
input::-moz-focus-inner, a:focus {
  outline: none;
}

/* line 8, ../../app/assets/styles/base/_form.scss */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 13, ../../app/assets/styles/base/_form.scss */
input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

/* line 19, ../../app/assets/styles/base/_form.scss */
.form-control:focus {
  box-shadow: none !important;
}

/****************************************************************************************
Description: Sass functions
*****************************************************************************************/
/****************************************************************************************
Description: Sass mixins
*****************************************************************************************/
/* line 14, ../../app/assets/styles/tools/_mixins.scss */
.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
}

/* line 1, ../../app/assets/styles/tools/_spaceheight.scss */
.one-space {
  height: 10px;
}

/* line 4, ../../app/assets/styles/tools/_spaceheight.scss */
.two-space {
  height: 20px;
}

/* line 7, ../../app/assets/styles/tools/_spaceheight.scss */
.three-space {
  height: 30px;
}

/* line 10, ../../app/assets/styles/tools/_spaceheight.scss */
.four-space {
  height: 40px;
}

/* line 13, ../../app/assets/styles/tools/_spaceheight.scss */
.five-space {
  height: 50px;
}

/* line 16, ../../app/assets/styles/tools/_spaceheight.scss */
.six-space {
  height: 60px;
}

/* line 19, ../../app/assets/styles/tools/_spaceheight.scss */
.seven-space {
  height: 70px;
}

/* line 22, ../../app/assets/styles/tools/_spaceheight.scss */
.eight-space {
  height: 80px;
}

/* line 25, ../../app/assets/styles/tools/_spaceheight.scss */
.nine-space {
  height: 90px;
}

/* line 28, ../../app/assets/styles/tools/_spaceheight.scss */
.ten-space {
  height: 100px;
}

/* line 31, ../../app/assets/styles/tools/_spaceheight.scss */
.eleven-space {
  height: 110px;
}

/* line 34, ../../app/assets/styles/tools/_spaceheight.scss */
.twenlve-space {
  height: 120px;
}

/* line 37, ../../app/assets/styles/tools/_spaceheight.scss */
.thirteen-space {
  height: 130px;
}

/* line 40, ../../app/assets/styles/tools/_spaceheight.scss */
.fourteen-space {
  height: 140px;
}

/* line 43, ../../app/assets/styles/tools/_spaceheight.scss */
.fiveteen-space {
  height: 140px;
}

/* line 56, icons/*.png */
.icons-sprite, .icons-next-slice, .icons-prev-slice {
  background-image: url('../images/generated/icons-se39a59166d.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next-slice {
  background-position: 0 0;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-prev-slice {
  background-position: 0 -82px;
}

/* line 1, ../../app/assets/styles/ultils/_button.scss */
.btn {
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  min-width: 180px;
  text-transform: uppercase;
}
/* line 10, ../../app/assets/styles/ultils/_button.scss */
.btn button {
  background: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
}

/****************************************************************************************
Description: Hack css cho các trình duyệt
*****************************************************************************************/
/* line 9, ../../app/assets/styles/ultils/_hack.scss */
.ie8 .container {
  width: 100%;
}
/* line 12, ../../app/assets/styles/ultils/_hack.scss */
.ie8 .navbar-collapse {
  width: 66.66%;
}

/****************************************************************************************
Description: Style chung, bß╗æ cß╗Ñc trang web
*****************************************************************************************/
/* line 4, ../../app/assets/styles/_layout.scss */
.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* line 9, ../../app/assets/styles/_layout.scss */
.bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 14, ../../app/assets/styles/_layout.scss */
#ani1, #ani2, #ani3, #ani4, #ani5, #ani6, #ani7, #ani8 {
  opacity: 0;
}

/* line 17, ../../app/assets/styles/_layout.scss */
#ani6, #ani9, #ani10 {
  position: relative;
  z-index: 2;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.4);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

/* line 23, ../../app/assets/styles/_layout.scss */
.ps-as {
  position: absolute !important;
  top: 0;
  left: 0;
}

/* line 28, ../../app/assets/styles/_layout.scss */
.ps-rv {
  position: relative !important;
}

/* line 31, ../../app/assets/styles/_layout.scss */
.ps-stt {
  position: static !important;
}

/* line 34, ../../app/assets/styles/_layout.scss */
.lp1 {
  letter-spacing: 1px;
}

/* line 37, ../../app/assets/styles/_layout.scss */
.lp2 {
  letter-spacing: 2px;
}

/* line 40, ../../app/assets/styles/_layout.scss */
.lp3 {
  letter-spacing: 3px;
}

/* line 43, ../../app/assets/styles/_layout.scss */
.lp4 {
  letter-spacing: 4px;
}

/* line 46, ../../app/assets/styles/_layout.scss */
.link-color {
  color: #91479b;
}

/* line 49, ../../app/assets/styles/_layout.scss */
.clear {
  clear: both;
  padding: 0px !important;
  display: block;
  height: 0 !important;
}

/* line 55, ../../app/assets/styles/_layout.scss */
.error {
  border: 1px solid red !important;
}

/* line 58, ../../app/assets/styles/_layout.scss */
.table-div {
  display: table !important;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

/* line 64, ../../app/assets/styles/_layout.scss */
.table-cell {
  display: table-cell !important;
  width: 100%;
  height: 100%;
}

/* line 69, ../../app/assets/styles/_layout.scss */
.bg-fff {
  background: #fff !important;
}

/* line 72, ../../app/assets/styles/_layout.scss */
.bg-gray {
  background-color: #e4e5eb;
}


.bg-dark-gray {
  background-color: #d9dbe3;
}

/* line 75, ../../app/assets/styles/_layout.scss */
.br {
  display: block;
  height: 0;
  font-size: 0;
}

/* line 80, ../../app/assets/styles/_layout.scss */
.no-margin {
  margin: 0px !important;
}

/* line 83, ../../app/assets/styles/_layout.scss */
.mt-none {
  margin-right: 0 !important;
}

/* line 86, ../../app/assets/styles/_layout.scss */
.mr-none {
  margin-top: 0 !important;
}

/* line 89, ../../app/assets/styles/_layout.scss */
.mb-none {
  margin-bottom: 0 !important;
}

/* line 92, ../../app/assets/styles/_layout.scss */
.ml-none {
  margin-left: 0 !important;
}

/* line 95, ../../app/assets/styles/_layout.scss */
.no-padding {
  padding: 0px !important;
}

/* line 98, ../../app/assets/styles/_layout.scss */
.pt-none {
  padding-top: 0 !important;
}

/* line 101, ../../app/assets/styles/_layout.scss */
.pr-none {
  padding-right: 0 !important;
}

/* line 104, ../../app/assets/styles/_layout.scss */
.pb-none {
  padding-bottom: 0 !important;
}

/* line 107, ../../app/assets/styles/_layout.scss */
.pl-none {
  padding-left: 0 !important;
}

/* line 110, ../../app/assets/styles/_layout.scss */
.no-border {
  border: none !important;
}

/* line 113, ../../app/assets/styles/_layout.scss */
.no-bg {
  background: none !important;
}

/* line 116, ../../app/assets/styles/_layout.scss */
.ls-none {
  padding-left: 0;
  list-style: none;
}

/* line 120, ../../app/assets/styles/_layout.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

/* line 125, ../../app/assets/styles/_layout.scss */
.bootstrap-select, .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
}

/* line 128, ../../app/assets/styles/_layout.scss */
.bootstrap-select > .dropdown-toggle {
  text-transform: none;
  float: none;
}

/* line 132, ../../app/assets/styles/_layout.scss */
.row-8 {
  margin-left: -8px;
  margin-right: -8px;
}
/* line 135, ../../app/assets/styles/_layout.scss */
.row-8 > * {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 141, ../../app/assets/styles/_layout.scss */
.modal-content {
  margin-left: 15px;
  margin-right: 35px;
}

/* line 145, ../../app/assets/styles/_layout.scss */
.modal-dialog-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 151, ../../app/assets/styles/_layout.scss */
.modal {
  z-index: 5000;
}

/* line 154, ../../app/assets/styles/_layout.scss */
.max-width1 {
  max-width: 270px;
}

/* line 157, ../../app/assets/styles/_layout.scss */
.person {
  width: 100%;
}

/* line 160, ../../app/assets/styles/_layout.scss */
.btn-video {
  text-align: center;
  z-index: 1;
  position: relative;
  color: #fff;
  display: block;
}
/* line 166, ../../app/assets/styles/_layout.scss */
.btn-video:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  color: #fff;
  content: "\f01d";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 9em;
}

/* line 183, ../../app/assets/styles/_layout.scss */
iframe {
  border: none;
}

/* line 187, ../../app/assets/styles/_layout.scss */
.section {
  padding: 3em 0;
}

/* line 190, ../../app/assets/styles/_layout.scss */
.left-ps {
  position: absolute;
  right: 100%;
  top: 7%;
}

/* line 195, ../../app/assets/styles/_layout.scss */
.mod-video {
  padding: 1.5em 0;
  text-align: center;
}

/* line 200, ../../app/assets/styles/_layout.scss */
.text-content .person-description {
  padding: 1em 1em 0 2em;
  margin: 0 -1em 1em;
}
/* line 204, ../../app/assets/styles/_layout.scss */
.text-content .bg-gray ~ * {
  padding-left: 1em;
}
/* line 208, ../../app/assets/styles/_layout.scss */
.text-content .left.bg-gray {
  padding-left: 1em;
}
/* line 211, ../../app/assets/styles/_layout.scss */
.text-content .left.bg-gray ~ * {
  padding-right: 1em;
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  /* line 220, ../../app/assets/styles/_layout.scss */
  .row-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  /* line 223, ../../app/assets/styles/_layout.scss */
  .row-30 > * {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 228, ../../app/assets/styles/_layout.scss */
  .row-50 {
    margin-left: -50px;
    margin-right: -50px;
  }
  /* line 231, ../../app/assets/styles/_layout.scss */
  .row-50 > * {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1400px) {
  /* line 238, ../../app/assets/styles/_layout.scss */
  .ps-rv {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1360px) {
  /* line 243, ../../app/assets/styles/_layout.scss */
  .ps-rv {
    margin-left: 260px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 248, ../../app/assets/styles/_layout.scss */
  .ps-rv {
    margin-left: 200px;
  }
}
@media only screen and (max-device-width: 1050px) {
  /* line 253, ../../app/assets/styles/_layout.scss */
  * {
    cursor: pointer;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 258, ../../app/assets/styles/_layout.scss */
  .ps-rv {
    margin-left: 160px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 263, ../../app/assets/styles/_layout.scss */
  * {
    cursor: pointer;
  }

  /* line 266, ../../app/assets/styles/_layout.scss */
  .block-mb {
    display: block;
  }

  /* line 269, ../../app/assets/styles/_layout.scss */
  .height-mb {
    height: auto !important;
  }

  /* line 272, ../../app/assets/styles/_layout.scss */
  .center-mb {
    text-align: center;
  }
}
/* line 1, ../../app/modules/global/footer/style.scss */
#footer {
  padding: 2em 0;
  background: #d2d4d8;
}
/* line 4, ../../app/modules/global/footer/style.scss */
#footer p {
  font-family: "FrutigerCE-Light";
}
/* line 7, ../../app/modules/global/footer/style.scss */
#footer .logo-footer {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  /* line 12, ../../app/modules/global/footer/style.scss */
  #footer {
    text-align: center;
  }
  /* line 14, ../../app/modules/global/footer/style.scss */
  #footer .text-right {
    text-align: center;
  }
}
/* line 1, ../../app/modules/global/header/style.scss */
#header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
}

/* line 9, ../../app/modules/global/header/style.scss */
#ani4, #ani5 {
  padding-left: 1em;
}

/* line 13, ../../app/modules/global/header/style.scss */
.slogan {
  font-family: "Eagle-Bold";
  margin-top: 24px;
}
/* line 16, ../../app/modules/global/header/style.scss */
.slogan h2 {
  font-size: 5em;
  line-height: 0.8375em;
  font-weight: 900;
  font-family: "Eagle-Bold";
}

/* line 24, ../../app/modules/global/header/style.scss */
.font2 {
  font-family: "MyriadPro-Regular" !important;
}

/* line 27, ../../app/modules/global/header/style.scss */
.font3 {
  font-family: "FrutigerCE-Black" !important;
}

/* line 30, ../../app/modules/global/header/style.scss */
h2 {
  font-size: 3.6em;
  font-family:'FrutigerCE-Light';
  line-height: 0.96471em;
}

/* line 36, ../../app/modules/global/header/style.scss */
.section2 p {
  font-family: "FrutigerCE-Light";
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 40, ../../app/modules/global/header/style.scss */
.section2 p small {
  font-size: 0.4em;
}

/* line 46, ../../app/modules/global/header/style.scss */
h3 {
  font-size: 1.33333em;
  line-height: 1.875em;
  font-family: "MyriadPro-Regular";
}

/* line 51, ../../app/modules/global/header/style.scss */
h4 {
  font-size: 1.66667em;
  line-height: 1.2em;
  font-family: "MyriadPro-Regular";
}

/* line 56, ../../app/modules/global/header/style.scss */
p, li {
  line-height: 1.5625em;
}
/* line 58, ../../app/modules/global/header/style.scss */
p small, li small {
  font-size: 0.65em;
}

.bg-dark-gray h2{
	margin-left: 17px;
	font-size: 5em;
	}
.bg-dark-gray h4{
margin-left: 17px;
}

.bg-gray p {
	margin-left: 17px;
	margin-right: 17px;
	}

/* line 62, ../../app/modules/global/header/style.scss */
.Scroll-Down {
  font-family: "Frutiger Roman";
  font-size: 1.3em;
  cursor: pointer;
}
/* line 66, ../../app/modules/global/header/style.scss */
.Scroll-Down .fa {
  font-size: 1.8em;
}

/* line 70, ../../app/modules/global/header/style.scss */
.rotate-box {
  margin: -3em -10em 0;
  position: relative;
  display: block;
  height: 738px;
}
/* line 75, ../../app/modules/global/header/style.scss */
.rotate-box > * {
  height: auto !important;
  width: auto !important;
}
/* line 79, ../../app/modules/global/header/style.scss */
.rotate-box .no-rotate, .rotate-box .rotate {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 738px;
}
/* line 86, ../../app/modules/global/header/style.scss */
.rotate-box .rotate {
  opacity: 0;
  visibility: hidden;
}
/* line 91, ../../app/modules/global/header/style.scss */
.rotate-box.rotate-box-active .no-rotate {
  opacity: 0;
  visibility: hidden;
}
/* line 95, ../../app/modules/global/header/style.scss */
.rotate-box.rotate-box-active .rotate {
  opacity: 1;
  visibility: visible;
}

/* line 101, ../../app/modules/global/header/style.scss */
.line-bt {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 7px;
  letter-spacing: 1px;
}
/* line 106, ../../app/modules/global/header/style.scss */
.line-bt:after {
  position: absolute;
  left: 0;
  content: "";
  width: 33px;
  bottom: 0;
  height: 2px;
  background: #797979;
}
/* line 117, ../../app/modules/global/header/style.scss */
.line-bt.right-line:after {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 1200px) {
  /* line 125, ../../app/modules/global/header/style.scss */
  h2 {
    font-size: 4em;
  }

  /* line 128, ../../app/modules/global/header/style.scss */
  .section2 p {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 133, ../../app/modules/global/header/style.scss */
  h2 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 769px) {
  /* line 138, ../../app/modules/global/header/style.scss */
  #ani1 {
    margin-top: 140px;
  }

  /* line 141, ../../app/modules/global/header/style.scss */
  #ani2 {
    margin-top: 509px;
  }

  /* line 144, ../../app/modules/global/header/style.scss */
  #ani7 {
    margin-top: 228px;
  }

  /* line 147, ../../app/modules/global/header/style.scss */
  #ani11 {
    margin-top: 390px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 152, ../../app/modules/global/header/style.scss */
  .left-ps {
    position: static;
  }

  /* line 155, ../../app/modules/global/header/style.scss */
  .ps-rv {
    margin-left: 0;
  }
}
/* line 1, ../../app/modules/global/banner/style.scss */
#banner {
  overflow: hidden;
  position: relative;
}

/* line 2, ../../app/modules/global/social/style.scss */
.social ul {
  padding-left: 0px;
  list-style: none !important;
  margin-bottom: 0;
}
/* line 7, ../../app/modules/global/social/style.scss */
.social li {
  display: inline-block;
  margin-right: 2em;
}
/* line 10, ../../app/modules/global/social/style.scss */
.social li:before {
  display: none !important;
}
/* line 13, ../../app/modules/global/social/style.scss */
.social li a {
  display: block;
  position: relative;
  top: 0;
  font-size: 1em;
  color: #999999;
}
/* line 19, ../../app/modules/global/social/style.scss */
.social li a .fa-inverse {
  color: #305B80;
}
/* line 22, ../../app/modules/global/social/style.scss */
.social li a:hover {
  color: #91479b;
}
/* line 28, ../../app/modules/global/social/style.scss */
.social p, .social ul, .social label, .social h4 {
  display: inline-block;
}

/* line 1, ../../app/modules/global/menu-home/style.scss */
.menu-home {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  z-index: 1;
}
/* line 7, ../../app/modules/global/menu-home/style.scss */
.menu-home ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
  position: absolute;
  right: 50px;
  width: 340px;
  background: rgba(206, 201, 201, 0.37);
  float: none;
  top: 0;
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -ms-transform-origin: right center;
      transform-origin: right center;
  -webkit-transform-origin: right center;
  transition: .25s all;
  -webkit-transition: .25s all;
}
/* line 24, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li {
  font-size: 0.875em;
  line-height: 3.21429em;
  color: #7b7979;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 15px;
  font-family: "Frutiger Roman";
}
/* line 32, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li a {
  color: inherit;
  font-family: "FrutigerCE-Light";
}
/* line 35, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li:hover, .menu-home ul li.active {
  color: #333333;
}
/* line 39, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li:nth-child(2) a {
  position: relative;
  display: block;
  padding: 0 5px;
  margin: 0 5px;
}
/* line 44, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li:nth-child(2) a:after {
  position: absolute;
  left: 100%;
  height: 2px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  content: "";
  width: 14px;
  background: #7b7979;
}
/* line 55, ../../app/modules/global/menu-home/style.scss */
.menu-home ul li:nth-child(2) a:before {
  position: absolute;
  right: 100%;
  height: 2px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  content: "";
  width: 14px;
  background: #7b7979;
}
/* line 68, ../../app/modules/global/menu-home/style.scss */
.menu-home.active {
  background: rgba(206, 201, 201, 0.37);
}
/* line 70, ../../app/modules/global/menu-home/style.scss */
.menu-home.active ul {
  padding-right: 18px;
  transition: .25s all;
  -webkit-transition: .25s all;
  -ms-transform: scaleX(1);
      transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/* line 78, ../../app/modules/global/menu-home/style.scss */
.menu-home ul, .menu-home .navbar-header {
  height: 44px;
}

/* line 82, ../../app/modules/global/menu-home/style.scss */
.navbar-header {
  background: rgba(206, 201, 201, 0.5);
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 5px 10px 10px;
}

/* line 89, ../../app/modules/global/menu-home/style.scss */
.menu-control {
  background: none;
  border-radius: 0;
  border: none;
  margin-top: 2px;
  position: relative;
  left: -2px;
  top: 1px;
}
/* line 97, ../../app/modules/global/menu-home/style.scss */
.menu-control .icon-bar {
  display: block;
  width: 23px;
  height: 2px;
  border-radius: 1px;
  background: #7b7979;
  position: relative;
  /*transition: .25s transform;
  -webkit-transition: .25s transform;*/
}
/* line 109, ../../app/modules/global/menu-home/style.scss */
.menu-control .icon-bar + .icon-bar {
  margin-top: 5px;
}
/* line 112, ../../app/modules/global/menu-home/style.scss */
.menu-control.active {
  position: static;
}
/* line 114, ../../app/modules/global/menu-home/style.scss */
.menu-control.active .icon-bar:nth-child(1) {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform-origin: left bottom;
      transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
/* line 121, ../../app/modules/global/menu-home/style.scss */
.menu-control.active .icon-bar:nth-child(2) {
  opacity: 0;
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
}
/* line 127, ../../app/modules/global/menu-home/style.scss */
.menu-control.active .icon-bar:nth-child(3) {
  -ms-transform: rotate(-46deg);
      transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -ms-transform-origin: left top;
      transform-origin: left top;
  -webkit-transform-origin: left top;
  top: 3px;
}

/* line 1, ../../app/modules/global/check-box/style.scss */
.c-checkbox {
  position: relative;
}
/* line 3, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
/* line 7, ../../app/modules/global/check-box/style.scss */
.c-checkbox label {
  cursor: pointer;
  padding-left: 30px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 13, ../../app/modules/global/check-box/style.scss */
.c-checkbox label > span {
  display: block;
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
/* line 21, ../../app/modules/global/check-box/style.scss */
.c-checkbox label > span.inc {
  background: #fff;
  left: -10px;
  top: -10px;
  height: 40px;
  width: 40px;
  opacity: 0;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
}
/* line 32, ../../app/modules/global/check-box/style.scss */
.c-checkbox label > span.inc {
  animation: growCircleRadio 0.3s ease;
  -webkit-animation: growCircleRadio 0.3s ease;
}
/* line 37, ../../app/modules/global/check-box/style.scss */
.c-checkbox label > .box {
  top: 1px;
  border: 2px solid #d0d7de;
  height: 20px;
  width: 20px;
  z-index: 5;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
/* line 47, ../../app/modules/global/check-box/style.scss */
.c-checkbox label > .check {
  top: -2px;
  left: 6px;
  width: 10px;
  height: 20px;
  border: 2px solid #d0d7de;
  border-top: none;
  border-left: none;
  opacity: 0;
  z-index: 5;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -webkit-transform: rotate(180deg);
}
/* line 65, ../../app/modules/global/check-box/style.scss */
.c-checkbox:not(.border) input[type=checkbox]:checked ~ label > .box {
  opacity: 0;
  -ms-transform: scale(0) rotate(-180deg);
      transform: scale(0) rotate(-180deg);
  -webkit-transform: scale(0) rotate(-180deg);
}
/* line 72, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox]:checked ~ label .inc {
  animation: growCircle 0.3s ease;
  -webkit-animation: growCircle 0.3s ease;
}
/* line 77, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox]:checked ~ label > .check {
  opacity: 1;
  -ms-transform: scale(1) rotate(45deg);
      transform: scale(1) rotate(45deg);
  -webkit-transform: scale(1) rotate(45deg);
}
/* line 84, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox]:disabled ~ label,
.c-checkbox input[type=checkbox][disabled] ~ label {
  cursor: not-allowed;
  opacity: 0.7;
}
/* line 89, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox]:disabled ~ label > .box,
.c-checkbox input[type=checkbox][disabled] ~ label > .box {
  cursor: not-allowed;
  opacity: 0.7;
}
/* line 94, ../../app/modules/global/check-box/style.scss */
.c-checkbox input[type=checkbox]:disabled:checked ~ label > .check,
.c-checkbox input[type=checkbox][disabled]:checked ~ label > .check {
  cursor: not-allowed;
  opacity: 0.7;
}
/* line 100, ../../app/modules/global/check-box/style.scss */
.c-checkbox.border input[type=checkbox]:checked ~ label > .check {
  top: -1px;
  -ms-transform: scale(0.7) rotate(45deg);
  transform: scale(0.7) rotate(45deg);
  -webkit-transform: scale(0.7) rotate(45deg);
  border: 4px solid #d0d7de;
  border-top: none;
  border-left: none;
}

/* bubble animation */
@keyframes growCircle {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  70% {
    background: #eee;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
@-webkit-keyframes growCircle {
  0%, 100% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  70% {
    background: #eee;
    -webkit-transform: scale(1.25);
  }
}
/* line 147, ../../app/modules/global/check-box/style.scss */
.c-radio {
  position: relative;
}
/* line 149, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio] {
  visibility: hidden;
  position: absolute;
}
/* line 153, ../../app/modules/global/check-box/style.scss */
.c-radio label {
  line-height: 1px;
  cursor: pointer;
  padding-left: 30px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}
/* line 160, ../../app/modules/global/check-box/style.scss */
.c-radio label > span {
  display: block;
  position: absolute;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 168, ../../app/modules/global/check-box/style.scss */
.c-radio label > span.inc {
  background: #fff;
  left: -10px;
  top: -10px;
  height: 40px;
  width: 40px;
  opacity: 0;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
}
/* line 179, ../../app/modules/global/check-box/style.scss */
.c-radio label > .box {
  top: 1px;
  border: 2px solid #d0d7de;
  height: 20px;
  width: 20px;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  z-index: 5;
}
/* line 188, ../../app/modules/global/check-box/style.scss */
.c-radio label > .box:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #d0d7de;
  opacity: 0;
  z-index: 6;
  display: block;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transform-origin: center;
      transform-origin: center;
  -webkit-transform-origin: center;
  content: "";
}
/* line 214, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio]:checked ~ label > .box:after {
  opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transform: scale(0.6);
      transform: scale(0.6);
  -webkit-transform: scale(0.6);
}
/* line 223, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio]:checked ~ label > .inc {
  animation: growCircleRadio 0.3s ease;
  -webkit-animation: growCircleRadio 0.3s ease;
}
/* line 228, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio]:disabled ~ label,
.c-radio input[type=radio][disabled] ~ label {
  cursor: not-allowed;
  opacity: 0.7;
}
/* line 233, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio]:disabled ~ label > .box,
.c-radio input[type=radio][disabled] ~ label > .box {
  cursor: not-allowed;
  opacity: 0.7;
}
/* line 238, ../../app/modules/global/check-box/style.scss */
.c-radio input[type=radio]:disabled:checked ~ label > .check,
.c-radio input[type=radio][disabled]:checked ~ label > .check {
  cursor: not-allowed;
  opacity: 0.7;
}

/* bubble animation */
@-webkit-keyframes growCircleRadio {
  0%, 100% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  70% {
    background: #eee;
    -webkit-transform: scale(1.25);
  }
}
@keyframes growCircleRadio {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  70% {
    background: #eee;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
/* line 278, ../../app/modules/global/check-box/style.scss */
.ie8 .c-checkbox input[type=checkbox], .ie8 .c-radio input[type=radio] {
  position: static;
  visibility: visible;
}
/* line 283, ../../app/modules/global/check-box/style.scss */
.ie8 .c-checkbox .inc, .ie8 .c-checkbox .box, .ie8 .c-checkbox .check, .ie8 .c-radio .inc, .ie8 .c-radio .box, .ie8 .c-radio .check {
  display: none;
}
/* line 286, ../../app/modules/global/check-box/style.scss */
.ie8 .c-checkbox label, .ie8 .c-radio label {
  padding-left: 0;
}
